%fieldset
  %ul
    %li.form-field.required
      = form.label :name
      = form.text_field :name, :maxlength=> 50
  
    %li.form-field.required
      = form.label :location
      = form.text_field :location, :maxlength=> 50
          
    %li.form-field.required
      = form.label :start
      = form.datetime_select :start    
      
    %li.form-field
      = form.label :details
      = form.text_area :details   
